/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/

@media (min-width: 200px) and (max-width: 767px) {
  .product {
    position: relative;
  }

  .product__info {
    padding: 0 1em;
    /* z-index: 10; */
    background-color: #0c0c0caf;
    display: flex;
    place-content: end;
  }
}

@media screen and (min-width: 450px) {
  p {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 599px) {
  p {
    font-size: 1.5rem;
  }

  .more-product-btn {
    width: 20%;
    font-size: 32px;
  }

  .our-phone-row-text {
    margin: auto;
    width: 50%;
  }

  .cart-item-count {
    top: 0.5rem;
    right: 6.8rem;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.35rem;
  }

  .our-phone-section {
    padding: 0 3rem;
  }

  .carasel-image {
    width: 90%;
    align-self: center;
    margin: 0 auto;
  }

  .image-logo {
    width: 150px;
    /* display: block; */
  }

  .product {
    background-color: transparent !important;
  }

  .product__photo {
    z-index: 100;
  }

  .product__info {
    padding: 0 1em;
    background-color: #946b6ba4;
    /* z-index: -1; */
    display: flex;
    place-content: center;
  }

  .product__info article {
    margin-left: 20em;
    padding: 20px;
  }

  .brands {
    height: 300px;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80%;
  }

  .banner-btn {
    display: flex;
  }

  .banner-text {
    width: 70%;
  }

  .navbar {
    background-color: #ffffff;
    font-size: 1.25rem;
  }

  .our-phone-iphone {
    width: 70%;
    margin: 20px auto;
  }

  .carasel-image {
    height: 100%;
  }

  .carasel-image img {
    height: 100%;
  }

  .about-col {
    margin: 100px auto;
  }

  .navbar-collapse {
    font-size: 1.75rem;
    margin-left: 200px;
  }

  .cart-btn-container {
    position: relative;
    display: none;
  }

  .lg-cart-btn-container {
    position: relative;
    display: flex;
    right: 50px;
    top: -15px;
    height: max-content;
  }

  .pro-container {
    width: 80%;
  }

  .cart-item-count {
    top: -0.85rem;
    left: -0.85rem;
  }
}

@media screen and (min-width: 1199px) {
  .our-phone-row-text {
    margin: auto;
    width: 30%;
  }

  .pro-container {
    width: 60%;
    /* margin-top: -35em; */
  }
}
